/*@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/MaterialIcons-Regular.ttf") format('truetype'),
  }*/
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
 /* @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?Raleway:wght@400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');*/
  @font-face {
      font-family: 'Keyboard';
      font-style: normal;
      src: url(../fonts/212Keyboard-lmRZ.otf); 
     // info https://www.fontspace.com/212-keyboard-font-f34592#action=charmap&id=lmRZ
    }
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }